<div id="info"><h2>P.O. Box 3215, Casper WY 82602 &#8226; (307) 258-1713 &#8226; <%= mail_to "info@nlralliance.org" %></h2>
	<h6>&copy;<%= Time.current.year %> NLRA all rights reserved | <%= link_to "Legal notices", :action => 'legal', :controller => 'main' %> | <%= mail_to "webmaster@nlralliance.org", "Contact the webmaster".html_safe %></h6></div>