<% content_for :body_header do %>
Legal Notices
<% end %>

<% content_for :title do %>
- Legal Notices
<% end %>

<p>NLRA (Northern Laramie Range Alliance) does not control the content or opinions posted by third-parties on this website, does not endorse such content or opinions, and does not guarantee the accuracy, integrity or quality of the same. Under no circumstances will NLRA be liable in any way for any content or opinions posted by third-parties, including, but not limited to, any errors or omissions in any of said content or opinions, or any loss or damage of any kind incurred as a result of the use of any of said content or opinions posted, emailed, transmitted or otherwise made available via the NLRA website. NLRA makes no claim of ownership of content or opinions submitted by third-parties, but the act of posting, submitting or including any content or opinions by third-parties on this website shall constitute a grant and authorization to NLRA to use, distribute, reproduce, modify, adapt, and publicly display such content and opinions, free of cost, for the purposes selected by NLRA in its sole discretion.</p>

<div class="logo-divider"></div>