<h1><%= link_to "Home", :controller => 'main', :action => 'index' %> >> NLRA Events</h1>

<div id="tasks_list">
	<ul>
		<li><%= link_to "Add a new event", new_admin_event_path %></li>
	</ul>
</div>

<%= render :partial => 'event', :collection => @events %>