<div id="summary">
<h1 style="font-family: 'Myriad Pro', 'Myriad Web', Arial, sans-serif;
	font-size: 18px;
	color: #505B40;
	font-weight: normal">Listhost Unsubscription</h1>
</div>

<p>Hello <%= @user.email %>,
<br />
<br />This e-mail confirms your unsubscription from the NLRA Listhost. We're sorry to see you go!

</p>