<div style="text-align: center; padding-top: 80px"><h1 style="color: #7E7E7E">The Industrialization of the Northern Laramie Range</h1>
<h2 style="color: #BBB">Use the tabs at left to discover more about the key players and issues involved.</h2>
<noscript>
	<br />
	<br />
	<h2 style="color: #995947">This page requires Javascript. Please enable it in your browser and reload the page.</h2>
</noscript></div>