<script>
document.addEvent('domready', Slimbox.scanPage());
</script>

<div class="tab-content">
<h1>NLRA</h1>

<h2>We are more than 800 members of the community in central Wyoming who care about our agriculture, wildlife, history, landscape and recreation.</h2>

<h3>What is the Northern Laramie Range Alliance?  What does it stand for?</h3>

<p>The Northern Laramie Range Alliance is a group of nearly 900 citizens dedicated to preserving the open-space, agricultural and recreational character of the Northern Laramie Mountains in central Wyoming.

<span class="side_quote">Large-scale industrial development is inappropriate in the varied-use mountain areas of Wyoming’s Albany, Converse and Natrona Counties.</span>The Alliance position is straightforward:  Large-scale industrial development – including industrial-scale wind-development - is inappropriate in the varied-use mountain areas of  Wyoming’s Albany, Converse and Natrona Counties.  The Alliance does not oppose industrial-scale wind development per se.  Indeed, it has worked with a major energy company to avoid problems in developing industrial-scale wind in the high plains.  But NLRA members strongly believe that this development needs to be sited properly, and that mountains of the Northern Laramie Range should be off-limits.</p>

<h3>What’s happened so far?</h3>
	

<a href="/assets/photos/gallery_new/photo-05.jpg" rel="lightbox"><img src="/assets/photos/gallery_new/photo-05-med.jpg" height="165" width="250" style="float: right" class="right shadowed"></a>

<p>The Alliance formed in March 2009, when it became evident that the Northern Laramies have been targeted for industrial-scale wind energy development and construction of the associated transmission infrastructure.</p>

<p>Over the ensuing six months, Alliance members focused their attention on Rocky Mountain Power’s (RMP) plans for a new transmission corridor through the Range as part of its Gateway West Project.  By late summer that year, Rocky Mountain Power agreed to reroute the proposed corridor to avoid crossing the Northern Laramies.
</p>

<h4>The Wasatch Wind industrial development proposal</h4>

<p>Meanwhile, Wasatch Wind, Inc., a small “independent” wind energy company now headquartered in the resort town of Park City, Utah, began early in 2009 an effort to develop industrial-scale wind energy facilities across the Range.  In February 2009, without making any public announcement, it applied with the Wyoming Office of State Lands and Investments for “special use” of more than 40,000 acres of State land dispersed across more than 100,000 acres of land stretching from Muddy Mountain (south of Casper) nearly to Laramie Peak (northwest of Wheatland).</p>

<p>At the same time, it started soliciting private owners of land in the mountains to turn over development rights on their property.  Its pitch was simple:  “Put the development rights at our disposal for a pittance ($5-6 per acre per year for rights worth at least double that amount) and if we get this project done you’ll be in clover, with a minimum payment of $12,500 per turbine per year.”  When a landowner declined, Wasatch representatives said, falsely, that “your neighbors have signed up, so you’ll be surrounded by turbines and not participating.”</p>

<p>In the Boxelder-Mormon Canyon area of the mountains, just south of Glenrock, Wyoming, Wasatch’s effort was aided substantially by one landowner who inherited 6,000 acres of mountain country in the mid-‘90s.  He and his family live more than 10 miles from (and out of sight of) the proposed facility (indeed, most of the landowners signing with Wasatch live miles from the site), but he has led the charge to convince other landowners to put their property into industrial development.  Wasatch now claims to have acquired rights on approximately 27,000 acres of the Northern Laramies and says that it intends to apply for “special use” of another 2,700 acres of State land on which it would site 21 of the 62 turbines in its proposed industrial facility.</p>

<p>When the Alliance learned of Wasatch’s initial application it notified the grazing lessees using this State land, and began intensive efforts to forestall this development.  In the early fall of 2009 it approached the Board of County Commissioners of Converse County (the “Board”) seeking a moratorium on industrial development more than $10 million at elevations above 5,500 feet south and west of Interstate 25, which would have protected the mountain areas of Converse County.  Chaired by a wind industry consultant (organizer of “Roping the Wind” conferences sponsored in part by Wasatch Wind), however, the Board declined to adopt the proposed moratorium or otherwise protect the mountain areas of the County from this destructive development.</p>

<p>Public opinion is strongly against this development, despite the “public outreach” efforts that Wasatch touts in its communications.  The NLRA has received just under 900 petitions opposing industrial development in the mountains.  Most recently, during November-December 2010, the Alliance conducted an all-households poll in Converse County, sending to all 6,217 postal addresses in the County a polling card asking whether they support, oppose or have no opinion regarding the proposed 66-turbine Wasatch Wind development.  The response rate was very high (23%) and the “no opinion” vote very low (5.4%).  Of the ballots returned (including the no-opinions), 69% County-wide and 74% in the community closest to the proposed development opposed it.  Wasatch, at about the same time, conducted its own poll in Glenrock, Wyoming, the community closest to the proposed development.  It gave two choices:  “support” and “need more information.”  It has never published the results.</p>

<p>Fortunately, the wind industry consultant chairing the Board lost his bid for re-election in the August 2010 Republican primary.  (He has publicly acknowledged that his failure to protect the mountain areas of Converse County was the reason he lost.)  Even so, in lame duck sessions of the Board prior to his departure he oversaw adoption of state-mandated wind regulations part of the provisions of which were drafted by Wasatch Wind.</p>

<img src="/assets/photos/gallery_new/photo-25.jpg" height="240" class="center shadowed">

<h6 style="text-align: center">This entire ridgeline would be covered in wind turbines. Is this really how we envisage the future of our range?</h6>


<h3>The Alliance’s continuing vigilance concerning other threats to the Range</h3>

<p>While the Alliance’s most immediate concern has been to prevent the Wasatch Wind project from going forward, the NLRA is very much aware that the rest of the Northern Laramies remain unprotected by any responsible siting regimen at the county or state level.  It continues to monitor closely Rocky Mountain Power’s plans for the Gateway West transmission project; while RMP has withdrawn its earlier plan to establish a new transmission corridor through the Northern Laramies, it continues considering routing skirting the western edge of the mountains in areas inappropriate for this kind of development.</p>

<p>At the state level, the Alliance has supported the existing moratorium on the use of the state’s power of eminent domain to force across unwilling landowners the “collector” transmission lines that connect wind farms to the main power grid.  NLRA also opposes extending the soon-to-expire exemption from state sales taxes for wind farm equipment.  This is because in the absence of a siting regimen that protects the varied-use mountain areas of the state (such as the Northern Laramie Range) it does not want to encourage projects such as Wasatch’s.
</p>

</div>