<div class="tab-content">
	<h1>The Northern Laramie Range</h1>
	
	<p>Topping out at just over 10,000 feet, the Northern Laramies were the first range in the Rockies seen by emigrants on the Oregon Trail.  A.N Graham, who walked and rode from Coles County, Illinois, first saw the Northern Laramies on June 19, 1852, as he was recovering from cholera, and wrote in his diary:</p>
<%= image_tag "quote.png", :height=>"339", :style=>"margin: 0 auto", :class=>"center"%>
<br />
	<p>Today, the Range is home to descendants of these emigrants (including Graham's), to later settlers who moved up the creeks and into the country as ranchers later in the 19th century, and to members of the community who have second homes and recreational properties in the area.  It has one of the largest elk herds in Wyoming, mule and white-tail deer, pronghorn, bald eagle and many other species of raptors and most of the fur-bearing species native to our State.  Much of its character comes from the perseverance of ranchers who have sustained their livelihoods for decades in the face of tough markets and even tougher weather.  It also comes from landholders making their living elsewhere who’ve been drawn to the scenic rural landscape and have preserved its open spaces.  And sportsmen all over Wyoming and elsewhere take advantage of some of the best hunting in the State.</p>
	
</div>