<div class="tab-content">
<h1>Wasatch Wind</h1>

<h2>An aggressive "serial wind promoter" from Utah which seeks to develop and industrialize the natural beauty of the Northern Laramie Range. Some myths they advance, and why their proposal is a raw deal for landowners, residents, and recreational users alike.</h2>

<div class="columns">
	<h2>Wasatch Wind Progress Report</h2>
	<div class="col left">
		<h4>They say</h4>
		<ul>
			<li>The wind development will create hundreds of jobs for the area</li>
			<li>Minimal impact to the environment</li>
			<li>The turbines can easily be removed</li>
			<li>The Federal Energy Regulatory Commission (FERC) has approved the installation of the Pioneer Wind Park</li>
		</ul>
	</div>
	<div class="col right">
		<h4>The truth</h4>
		<ul>
			<li>The vast majority will be hired from elsewhere</li>
			<li>Hundreds of animals will be displaced, including sage grouse, a threatened species. Wind turbines affect the migratory flight patterns of birds and can be heard up to 2 miles away.</li>
			<li>Most wind developers claim they will remove turbines at the end of their effectives lives, then later leave them standing, unwilling to finance their deconstruction, assuming the developer even still does business.</li>
			<li>FERC has approved no such thing. Wasatch's approval is pending, and approval is becoming increasingly unlikely, as questionable tactics, notably the division of the wind park into two sites to force Rocky Mountain Power to purchase the electricity generated, come to light.</li>
		</ul>
	</div>
</div>