<%= text_field :subscriber, :email, {:size => 15, :placeholder => 'your e-mail'} %><%= image_submit_tag "support/link-arrow-yellow.png", :class => 'submit_image' %>
<h6><%= link_to "Subscriber assistance &#187;".html_safe, :action => 'assistance', :controller => 'subscribers'%></h6>