<% content_for :body_header do %>
	NLRA Listhost – Unsubscription
<% end %>

<% content_for :title do %>
- Subscriber Assistance
<% end %>

<div style="text-align: center">
	<h1><%= @email %> has been removed from the NLRA Listhost.</h1>
	<h3>We're sorry to see you go!</h3>
</div>