<% content_for :body_header do %>
NLRA Listhost
<% end %>

<% content_for :title do %>
- Subscriber Assistance
<% end %>

<div style="text-align: center">
	<h1><%= @email %> has been added to the NLRA Listhost.</h1>
	<h3>Thanks for signing up! You'll receive your first message shortly.</h3>
</div>