$('subscribe_label').set('html', '<%= label_tag :email, "<h2>Your e-mail, #{@deleted.email}, has been unsubscribed.</h2><h3>We&apos;re sorry to see you go!</h3>".html_safe %>');

$('unsubscribe_field').hide();