/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

/* Overall settings
------------------------------------------- */
html {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	margin: 0px; 
	padding: 0px;
	font-family:  "Helvetica", sans-serif;
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: white;
}

p {
	font-size: 12px;
	color: #000;
}

a {
	color: #606F54;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:active {
	color: #2D3528;
}

img {
	border: 0px;
}

h1 {
	font-size: 22px;
	color: #85996D;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
	/*text-shadow: 0px 1px 3px gray;
	text-transform: uppercase;*/
}

h2, .keyword /* For key words */ {
	color: #66993A;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 16px;
	color: #B98931;
	margin: 0px;
	padding: 0px;
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	color: #4E5132;
	letter-spacing: 1px;
}

h5, label, .undertitle {
	font-size: 12px;
	color: #857E4A;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	line-height: 16px;
}

h6 {
	font-size: 11px;
	color: #AFAFAF;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

label {
	color: #88994A;
}

.indented {
	padding-left: 10px;
}

.smallinfo {
	font-size: 10px;
	color: #997C7B;
}

.fieldWithErrors input {
	background: url(admin/warning-dot.png) 183px center no-repeat;
}

#noticebox {
	position: absolute;
	width: 500px;
	height: 250px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -125px;
	z-index: 5;
}

#noticebox #nb_content {
	background: #F4F4F4;
	margin: 10px;
	height: 210px;
	padding: 10px;
	position: relative;
}

#noticebox p {
	font-size: 11px;
	font-weight: bold;
}

#noticebox .buttons {
	text-align: right;
	position: absolute;
	bottom: 5px; right: 5px;
}

.rightalign {
	text-align: right;
}

.centeralign {
	text-align: center;
}

.floatleft {
	float: left;
	margin-right: 15px;
}

.photocaption {
	display: block;
	height: 200px;
	text-indent: 65px;
	font-size: 20px;
	color: #B0A763;
	line-height: 28px;
}

.photocaption .big {
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
}

.photocaption b {
	color: #996F51;
}

.photocaption a {
	font-size: 14px;
}

.inline-img {
	vertical-align: middle;
	border: 1px solid #C4B783;
	margin: 5px;
}

.blogpost.first, #stylized, #main .sidebox {
	border: 1px solid #E3E1DF; 
	background: url(mountains-bg.png) bottom left no-repeat white; 
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* Header
----------------------------------- */

#header {
	height: 100px;
	min-width: 1060px;
	/*border-bottom: 1px solid #C8C8C8;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100%;
}

#flash_notice {
	color: #5D4141;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #A05B5B;
	font-family: 'Lucida Grande', sans-serif;
	z-index: 6;
}

#header #logo {
	width: 500px;
	height: 140px;
	position: absolute;
	/*top: 0px;*/
	left: 0px;
	top: -25px;
}

#header #navbar {
	width: 560px;
	padding-left: 500px;
	height: 100px;
	/* overflow: hidden; */
}

#header ul {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#header li {
	/* New Stuff */
	float: left;
	
	/* Existing */
	/*display: inline;*/
}

#header li a {
	/* New Stuff */
	display: block;
	
	/* Existing */
	margin: 0 8px 0 8px;
	padding-top: 40px;
	/*overflow: hidden;
	float: right;*/
	height: 60px;
	
	/*Style Attributes*/
	color: white;
	text-transform: uppercase;
	font-family: "Helvetica";
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 12px;
	text-shadow: 0px 1px 2px black;
	background: none;
	white-space: nowrap;
}

#header li ul {
	display: none;
}

#header li.menu {
	background: none;
}

#header li.menu:hover {

}

#header li.menu .tr {
	background: none;
}

#header li.menu:hover .tr {

}

#header li:hover ul {
	display: block;
	position: relative;
	top: -43px;
	background-color: #ffffff;
	padding: 3px;
/*
	padding-bottom: 5px;*/
	-o-box-shadow: 0px 2px 5px #888;
	-icab-box-shadow: 0px 2px 5px #888;
	-khtml-box-shadow: 0px 2px 5px #888;
	-moz-box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
} 

#header li:hover li {
	float: none;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: left;
}

#header li:hover li a {
	height: 20px;
	background-color: #ffffff;
	margin: 0;
	padding: 10px 0 0 4px;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 11px;
	color: black;
	text-shadow: none;
}

#header li:hover li a:hover {
	background-color: #8C9981;
}


#header li:hover li a:active {
	background-color: #78836F;
}

#header a:hover {

}

#header li a:active {
}

/*#header #nav a, #header #nav {
	color: white;
	text-transform: uppercase;
	font-family: "Helvetica";
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 12px;
	text-shadow: 0px 1px 2px black;
}*/

/*#header #nav {
	color: #909A5D;
}*/


#header #content{
	style: block;
}

#header #bottom-border {
}

/* Main content
-------------------------------- */

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 1060px;
	margin: 0 0 -61px;
	overflow: hidden;
	position: relative;
}

#main {
	width: 1015px;
	z-index: 5;
	margin: 0px 0px;
	margin-top: 100px;
	position: relative;
	top: 0px;
	padding: 0px 45px;
	overflow: hidden;
}

#main #thisisit {
	height: 295px;

	margin: -20px -34px 0px -45px;
	padding: 0px 40px 0px 34px;
	position: relative;
}

#main #thisisit a {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 35px;
	width: 90px;
	text-indent: -2000px;
}

ul.todo-links {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
}

ul.todo-links li {
	list-style-image: none;
	list-style-type: none;
	padding: 0px;
	font-size: 16px;
	color: #E28F5A;
	display: inline-block;
	vertical-align: top;
	width: 180px;
	padding: 0px 10px 0px 0px;
}

ul.todo-links li a .small {
	font-size: 14px;
	color: #9B9B9B;
}

ul.todo-links li a {
	text-decoration: none;
	color: #E28F5A;
	display: block;
}

ul.todo-links li a:hover {
	color: #E8A169;
}

ul.todo-links li a:hover .small {
	color: #ABABAB;
}


#main .col1{
	margin: 0px;
	padding: 20px 240px 5px 0px;

}

#main .col2 {
	
	float: right;
	width: 200px;
	padding: 0px 0px 0px 5px;
	text-align: center;
}

#main .col2 #gallery {
	text-align: left;
}

#main .col2 label {
	font-size: 18px;
	color: #8E8B39;
	font-weight: bold;
}

#main #floatfix {
	clear: right;
}


#main p {
	margin-left: 20px;
	line-height: 2;
}

#main img {
	vertical-align: middle;
}

#main .boxed {
	-o-box-shadow: 0px 2px 5px #888;
	-icab-box-shadow: 0px 2px 5px #888;
	-khtml-box-shadow: 0px 2px 5px #888;
	-moz-box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
	background-color: white;
	padding: 3px;
	border: 1px solid #C4B783;
}

#main h2 {
	margin-left: 5px;
	line-height: 20px;
}

#main h4 {
	margin-left: 9px;
}

#main h5 {
	margin-left: 5px;
}

#main .col1 ul {

	list-style-type: none;
	list-style-position: outside;
}

#main .col1 ul li {
	margin: 8px 0px;
	line-height: 2;
}

#main .col1 .biglist {
	color: #545733;
	font-size: 15px;
	font-weight: bold;
}

#main .col1 .biglist h5 {
	margin: 0px;
}

#main .col1 .biglist h5 a {
	color: #8E9960;
	font-size: 12px;
	margin: 0px;
}

#main .col1 ul .document {
	list-style-image: none;

	padding-left: 55px;
	height: 57px;
}

#main .col1 ul .photo {
	list-style-image: none;

	padding-left: 55px;
	height: 40px;
}

#main .col1 ul .pdf h5 {
	margin-left: 13px;
}

#main .col1 #icon_legend {
	margin: 10px;
	margin-top: 40px;
	border: 1px solid #E7F1C7;
	font-size: 15px;
	font-weight: bold;
	color: #9DA474;
}

#main .col1 #icon_legend img {
	vertical-align: middle;
	padding: 10px;
}


/*#main .col1 a {
	font-size: 12px;
}*/

#main .col2 ul {
	text-align: left;
	margin: 5px;
	margin-left: 25px;
	padding: 0px;
	list-style-position: outside;

}

#main .col2 ul li{
	margin: 0px 8px 12px 8px;
	padding: 0px;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.5;
}

#main .col2 h3 {
	text-decoration: none;
	color: #528FB9;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

#main .col2 h5 {
	text-align: left;
	margin-left: 15px;
}

#main .col1 .innercol1 .content, #main .col1 .innercol2 .content {
	padding: 5px;
}

#main .col1 .innercol1 {
	width: 365px;
	min-height: 300px;

}

#main .col1 .innercol2 {
	width: 365px;
	min-height: 300px;
	float: right;
	/* border: 1px solid blue; */
}

#main .quote {
	font-size: 23px;
	color: #545733;
	font-weight: bold;

	padding: 20px 14px 0px 14px;
	min-height: 80px;
	text-align: center;
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
}



#main .endquote {

	margin: 10px 5px 0px;
}

#main .sidebox {
	float: right;
	padding: 10px;
	width: 300px;
	margin: 5px;
	margin-top: 20px;
	position: relative;
}

#main .sidebox #now-live {
	position: absolute;
	top: -30px;
	left: 260px;
}

#main .sidebox h4, #main .sidebox h5 {
	margin-left: 5px;
}

.sidebox h4 {
	font-size: 11px;
	font-weight: bold;
	color: #4E5132;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	text-decoration: none;
	color: #528FB9;
}

#main ol {

}

#main ol li {
	margin: 12px 0px;
}

#main ol li h5 {
	margin: 3px 0px;
}

#main ol li img {
	border: 1px solid #CAE07C;
	padding: 2px;
}

.petition-gallery {
	padding: 10px;
	overflow: hidden;
}

.petition-gallery .petition {
	float: left;
	color: #81997A;
	font-size: 11px;
	font-family: 'Lucida Grande', sans-serif;
	text-align: center;
	padding: 10px;
}

.petition-note {
	padding: 10px;
	padding-top: 0px;
	margin: -15px 0 10px 0;
	border-bottom: 1px solid #8B9976;
}


/* Forms
--------------------------------- */

form {
	padding: 5px;
	position: relative;
}

#stylized {
	width:500px;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	line-height: 20px;
}

#stylized .topper {
	border-bottom: 1px solid #E3E1DF;
	padding: 6px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#stylized .topper h2, .sidebox h2 {
	color: #BB8E28;
}

#stylized .topper h5, .sidebox h5 {
	color: #BBAF81;
}


#stylized label {
	text-align: right;
	display: block;
	float: left;
	clear: left;
}

#stylized label .small {
	font-family: "Lucida Grande", sans-serif;
	text-align: right;
	font-size: 11px;
	width: 150px;
	color: #999;
	display: block;
}

#stylized input[type="text"], #stylized input[type="password"], #stylized input[type="checkbox"] {
	float: left;
	clear: none;
	margin: 2px 0 20px 10px;
	padding: 4px 2px;
}

#stylized input[type="text"], #stylized input[type="password"] {
	font-size: 12px;
	width: 200px;
}

#stylized select {
	float: left;
	clear: none;
	margin: 6px 0 20px 10px;
}


#stylized form h5 {
	padding: 0 10px 15px 10px;
	text-align: center;
	clear: left;
}

#stylized .fieldWithErrors input {
	background: url(warning-dot.png) 188px center no-repeat white;
	margin-bottom: 0px;
	width: 186px;
	padding-right: 14px;
}

#stylized .error {
	color: #CAA3A6;
	margin: 0px 0px 0px 160px;
	padding: 0;
	text-align: left;
	clear: left;
	font-size: 12px;
	display: block;
}

.button_to_right {
	clear: left;
	float: none;
	margin: 0;
	padding-top: 0px;
	text-align: right;
	height: 20px;
}

#spinner {

	width: 25px;
	height: 25px;
	clear: none;
	float: left;
	margin: 0px;
	padding: 0px;
}

#stylized .spacer {
	clear: left;
	padding-bottom: 0px;
}

/* Clearfix for IE */

.clearfix {
	display: inline-block;
	width: 100%;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Special Subscribe Form CSS

-------------------------------- */

#subscribe_form {
	padding: 5px;
	font-size: 11px;
}

#subscribe_form input {
	width: 200px;
	padding: 4px 2px;
}

#subscribe_form #stylized label {
	width: 50px;
	clear: both;
}

#subscribe_form #stylized {
	width: 270px;
	border: none;
	background: none;
}

#subscribe_form #stylized .error {
	margin: 0px 0px 0px 10px;
}

/* Links
--------------------------------- */


#donate {
	margin-bottom: 0px;
	margin-top: 10px;
	width: 180px;

	margin-left: auto;
	margin-right: auto;
}

#donate:active {

}

#donate a {
	text-indent: -2000px;
	width: 117px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#links {
	min-height: 150px;
	font-family: "Lucida Grande", sans-serif;
	color: #999;
}

#links h3 {
	text-shadow: 0px 1px 3px #E0E0E0;
}

#popup {
	background-color: red;
	width: 600px;
	height: 350px;
	z-index: 10;
	position: absolute;
	top: 150px;
	left: 350px;
}

/* Blog
--------------------------------- */

.blogpost {
	margin: 15px 15px 25px 15px;
}

.blogpost.first {
	margin: 15px 15px 25px 0px;
	overflow: hidden; 
	padding: 20px;
}

.date {
	float: right;
	line-height: 16px;
	padding-right: 40px;
}

.blogpost h6 {
	color: #88997C;
}

.blogpost p {
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding-left: 30px;
}

.blogpost a {
	display: block;
	text-decoration: none;
}

.blogpost.first .text {
	overflow: hidden;
}

.blogpost.first .title {
	float: left;
	width: 160px;
	white-space: normal;
	clear: both;
}

.blogpost.first p {
	padding: 0;
	margin: 0;
}

.blogpost.first h1 {
	width: 160px;
	vertical-align: top
}

.blogpost.first a h1 {
	color: #689934;
}

.blogpost.first a:hover h1 {
	color: #9BB078;
}


.blogpost h3 {

	padding-left: 20px;
}

.blogpost a:hover p{
	text-decoration: none;
}

.blogpost a:hover h3 {
	color: #EDA535;
}

.blogpost.impt a h3 {
	color: #995929;
}

.blogpost.impt a:hover h3 {
	color: #D47B38;
}

.impt h3 {

}

.impt {
	color: #994C3B;
}

.major {
	color: #997369;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 16px;
}


.blogpost img {
	
}

.blogpost .postinfo {
	padding-left: 5px;
}

#comments {
	/* 
	margin: 0 -25px 0 -65px;
	border-top: 1px solid #4B4B4B;
	border-bottom: 1px solid #4B4B4B;
	position: relative; */
	border: 1px solid #C4B783;
	position: relative;
}

#comments h2 {
	color: white;
}

#comments h5 {
	color: #D8FFBC;
}

#comments .left {

}

#comments .right {

}

#comments .top {

}


#comments .bottom {

}

#comments #topper {
	padding: /*60px 65px 5px 65px*/ 10px;
	background-color: #849968;
	position: relative;
	overflow: visible;
}

#comments.disabled #topper {
	background-color: #F8FFE3;
}

#comments.disabled #topper h2 {
	color: #C5C5C5;
}

#comments.disabled #topper h5 {
	color: #C5C5C5;
}

#comments #topper #newlink {
	float: right;
	margin-top: 2px;
}

#comments #topper a {
	color: white;
}

.comments_spacer {
	height: 1px;
	background-color: #C5C5C5;
	margin: 0 10px;
}

#comments #allcomments {
	padding: /*0px 65px 60px 65px*/ 10px;
}

#comments #allcomments .deletelink {
	float: right;
	margin-right: 10px;
}

.button {
	float: left;
	clear: none;
	display: inline;
	color: #777;
	text-decoration: none;
	margin-right: 3px;

}

.button span {
	color: #333;
	font-family: Arial;
	text-transform: lowercase;
	font-size: 13px;
	font-weight: bold;
	display: block;
	padding: 4px 13px 5px 14px;
	text-shadow: white 0px 1px 1px;
}
.button:hover { color: black; text-decoration: underline; }
.button:active,
.button:active .tr,
.button:active .bl,
.button:active .br {

}

/* Footer
---------------------------------------- */

#footer, .push {
	height: 61px;
}

#footer {
	z-index: 6;
	border-top: 1px solid #999;
	background: #CBCBCB;
	height: 60px;
	position: relative;
	bottom: 0px;
	min-width: 1060px;
	color: #787878;
	font-family: "Lucida Grande", sans-serif;
}
#footer #bg {
	height: 100%;
}
#footer #content {
	padding-top: 15px;
	padding-left: 200px;
	overflow: hidden !important;
	height: 45px;
	position: relative;
}

#footer .linkset {
	float: left;
	padding-right: 70px;
}

#footer #copyright {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 9px;
	color: #999;
	font-family: helvetica;
	font-weight: bold;
	text-transform: lowercase;
}

#footer h6 {
	color: #363636;
	margin: 0px;
	padding: 0px;
	padding-bottom: 2px;
	font-size: 11px;
	
}

#footer a {
	font-size: 10px;
	color: #7A7A7A;
	text-decoration: none;
}

#footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
}

#footer ul li {
	margin-right: 15px;
	display: inline;
	padding: 0px;
}

#footer a:hover {
	color: #3D3D3D;
}


#header {
	height: 100px;
	min-width: 1060px;
	border-bottom: 1px solid #C8C8C8;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100%;
}

#main {
	background: white;
	height: auto;
	overflow: visible;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#wrapper {
	background: white;
	margin: 0 auto;
	padding-bottom: 0px;
	margin-bottom: -61px;
	overflow: visible;
}

#main .col1 {
	background: none;
	padding-right: 5px;
}

#nav .logoff {
	
}

#nav .logoff:hover {

}

#footer li a.logoff {

	padding-left: 15px;
	height: 45px;
}

#article_options {
	border: 1px dashed #899977;
}

#article_options ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
}

#article_options ul li {
	display: inline;
}

#article_options .button-to {
	display: inline-block;
	margin: 0;
}

.table {
	border-top: 1px solid #81996F;
	border-left: 1px solid #81996F;
	display: table;
	width: 900px;
}

.table .tr {
	display: table-row;
}

.table #tableheader {
	background-color: #E9FFEE;
	font-weight: bold;
}

.table .td {
	display: table-cell;
	border-right: 1px solid #81996F;
	padding: 5px;
	border-bottom: 1px solid #81996F;
}

.info-table {
	display: table;
}

.info-table .tr {
	display: table-row;
}

.info-table .td {
	padding: 15px;
	display: table-cell;
}

.info-table #tableheader {
	font-weight: bold;
}

#main .col1 #tasks_list h1 {
	text-shadow: none;
	color: #528FB9;
}

#main .col1 #tasks_list ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	margin: 0px 10px;
	padding: 0px;
}

#main .col1 #tasks_list ul li {
	font-size: 20px;
	text-transform: uppercase;
	margin: 30px 0px;
	height: 57px;
	line-height: 57px;
	padding: 0px;
	padding-left: 60px;
	font-weight: bold;
	background: url(admin/arrow.png) left center no-repeat;
}

#main .col1 #tasks_list ul li a, #main .col1 #tasks_list ul li a:visited {
	color: black;
	text-decoration: none;
}

#main .col1 #tasks_list ul li a:hover {
	text-decoration: underline;
}

#main .col1 #tasks_list ul li a:active {
	color: #5F5F5F;
}